<app-header></app-header>
<app-sidebar />
<div class="p-4 sm:ml-64 pt-20">
    <p-card class="flex align-items-center mb-4">
      <p-table [value]="items" [loading]="loading" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [rowsPerPageOptions]="[10, 25, 50]" class="my-4">
        <ng-template #caption>
          <div>
            <p-button icon="pi pi-plus" label="Adicionar" (click)="add()"></p-button>
          </div>
        <div class="flex">
            <p-iconfield iconPosition="left" class="ml-auto">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText type="text" placeholder="Pesquisar ..." />
            </p-iconfield>
        </div>
    </ng-template>
        <ng-template #header>
          <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>status</th>
            <th>Data</th>
            <th>Ações</th>
          </tr>
        </ng-template>
        <ng-template #body let-contact>
          <tr>
            <td>{{ contact.name }}</td>
            <td>{{ contact.phone }}</td>
            <td><p-tag [severity]="getSeverity(contact.status)" [value]="getValue(contact.status)" /> </td>
            <td>{{ contact.updatedAt | date: 'dd/MM/yyyy'}}</td>
            <td>
              <p-button icon="pi pi-pencil" (onClick)="edit(contact._id)" severity="primary" />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
</div>
