:host {
  display: block;
}

::ng-deep {
  .p-inputnumber,
  .p-inputnumber-input {
    width: 100%;
  }
  .p-password,
  .p-password-input {
    width: 100%;
  }
  .p-select {
    width: 100%;
  }
}
