<nav [class]="dark
  ? 'fixed top-0 z-50 left-0 sm:left-64 right-0 bg-gray-950 border-b border-gray-900'
  : 'fixed top-0 z-50 left-0 sm:left-64 right-0 bg-white border-b border-gray-200'">
  <div class="px-4 py-3">
    <div class="flex items-center justify-end gap-3">
      @if (dark) {
        <i class="pi pi-moon text-blue-400 text-lg"></i>
      } @else {
        <i class="pi pi-sun text-yellow-500 text-lg"></i>
      }
      <p-toggleswitch [(ngModel)]="dark" (onChange)="toggleTheme()" class="w-12"></p-toggleswitch>
    </div>
  </div>
</nav>
<p-toast />
