<app-sidebar />
<div class="p-4 sm:ml-64 pt-4">
<p-breadcrumb [model]="breadcrumbItems" [home]="breadcrumbHome" class="mb-4 block" />
<p-card class="align-items-center mb-4" header="Cadastro de usuário">
    <div class="field my-2">
        <label for="name" class="block mb-2">Nome</label>
        <input
          id="name"
          type="text"
          pInputText
          [(ngModel)]="user.name"
          required
          placeholder="Seu Nome"
          class="w-full"
        />
      </div>
      <div class="field my-2">
        <label for="email" class="block mb-2">Email</label>
        <input
          id="email"
          type="email"
          pInputText
          [(ngModel)]="user.email"
          required
          placeholder="Seu email"
          class="w-full"
        />
      </div>
      <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-4">

        <div class="field my-2">
          <label class="block mb-2">Status</label>
        <p-select [options]="optionStatus" [(ngModel)]="user.status" optionLabel="name" optionValue="value"
          class="w-full" />
        </div>
        <div class="field my-2">
          <label class="block mb-2">Perfil</label>
          <p-select [options]="optionRole" [(ngModel)]="user.role" optionLabel="name" optionValue="value" [showClear]="true"
          class="w-full" />
        </div>

        <div class="field my-2">
          <label for="password" class="block mb-2">Senha</label>
          <p-password fluid [showClear]="true" [(ngModel)]="password" promptLabel="Escolha uma senha" weakLabel="Muito simples" mediumLabel="Boa!" strongLabel="Excelente!" />
        </div>
        <div class="field my-2">
          <label for="confirmPassword" class="block mb-2">Confirmar Senha</label>
          <p-password fluid  [(ngModel)]="confirmPassword" promptLabel="Escolha uma senha" weakLabel="Muito simples" mediumLabel="Boa!" strongLabel="Excelente!" />
        </div>
      </div>
      <div class="flex mt-4">
         <p-button
        label="Voltar"
        [loading]="loading"
        class="mx-4 "
        severity="secondary"
        (click)="onBack()"
        ></p-button>

        <p-button
        type="submit"
        label="Salvar"
        [loading]="loading"
        class="mx-4"
        styleClass="p-button-primary"
        (click)="onSubmit()"
        ></p-button>
      </div>
</p-card>
</div>
